.form-inline .form-control {
  display: inline-block;
  margin-right:4px;
}


section.proof i {
  color: orange;
}

section.proof div.user {
  background: white;
}

section.proof div.stars {
  margin-top: 10px;
  margin-bottom: 10px;
}

section.proof div.quote {
  margin-bottom: 40px;
}

section.proof div.signature {
  position: absolute;
  bottom: 0;
  left: 5;
  font-weight: bold;
  margin-bottom: 10px;
}

.flag-icon-landing {
    width: 50px;
    height: 50px;
}

.flag-icon-menu {
  margin-left: 5px;
}

.nav-languages {
  padding-left: .5rem;
}

.nav-link-lg {
  display: inline-block;
  padding-left: 0 !important;
  padding-right: 0 !important;
}


li.social-instagram {
  background-color: #8a3ab9;
  border-radius: 100%;
}

li.social-discord {
  background-color: #7289DA;
  border-radius: 100%;
}