/*---------------------CORPORATE-LOGIN-----------------*/
#connexion{
    height: 100vh;
    background-image: radial-gradient(#4CC6F1,#1B7996)!important;
}
.blockconnection {
    background-color:rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 40px;
}
.btn{
    width: 100%;
    background: #1B7996;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}
.form-control{
    background-color: transparent;
    border: none;
}
.form-case{
    background: #fff;
    border-radius: 10px;
    padding: 5px 5px 5px 15px;
}
h1{
    margin-bottom: 2rem;
}
input:focus {
    outline:  none;
}
.btn:hover{
    width: 100%;
    background: #4CC6F1;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
}



















/*---------------------CORPORATE-ADMIN-----------------*/

.block{
    border-radius: 20px;
    height: 9rem;
    background: #fff; 
}
.blockgraph{
    border-radius: 20px;
    height: 300px;
    background: #fff;
    padding: 20px;
}

.block-outter {
    padding: 10px;
}

.block-outter .title, #AdminHome .title{
    padding-left: 1rem;
}

.block-outter .number{
    font-size: 2rem;
}

#AdminMenu{
    /*width: 15%;*/
    background: #474747;
}
#AdminHome{
    /*width: 85%;*/
    margin-left: auto;
    padding: 20px;
}
#Admin p{
    margin: 0;
}
#Admin a{
    color: #fff;
}
.block-outter .col-4, .col-8{
    margin-top: auto;
    margin-bottom: auto;
}

.block-outter .fas{
    font-size: 2rem;
    color:#1B7996;
}

.block-content {
    padding: 20px;
    height: 112px;
}
.navbar{
    padding: 0;
}
.dropdown-menu a {
    color: #474747;
}
.logo_name {
    font-size: 15px;
    margin: auto !important;
    color: #ffffff;
}






/*------------------------------------------------------------LIST--CREATE------------------------------------------------------------*/
#view a{
    color: #000;
}

#navigation .dropdown-menu{
    background: #474747;
}
#navigation .dropdown-item:hover{
    background: #fff;
    color: #474747;
}
#navigation .nav-link:hover{
    background: #fff;
    color: #474747;
}


.navbar-brand {
    top: 0;
    position: absolute;
    width: 100%;
    margin-right: 0;
}
.logo{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.logonav{
    width: 30px;
    height: 30px;
    margin: 10px 0px 10px 5px;
}
#Admin{
    height: 100%;
    padding: 0;
    background: #f1f1f1;
}
.col-3, .col-9{
    padding: 0;
}
#AdminHome .row{
    margin: 0;
}
#navigation{
height: 90% !important;
margin-top: auto;
}


.navbar-expand-lg {
    height: 100%;
}
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: column;
}
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: block !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}


.pagination ul {
    list-style: none;
    margin: auto;
}

.pagination li {
 display: inline;
}