.block{
    border-radius: 20px;
    background: #fff;
}

.block a {
    color: black;
}

.blockgraph{
    border-radius: 20px;
    background: #fff;
    padding: 20px;
}

.block-outter {
    padding: 10px;
}

.block-outter .title, #AdminHome .title{
    padding-left: 1rem;
}

.block-outter .number{
    font-size: 2rem;
}

#AdminMenu{
    /*width: 15%;*/
    background: #474747;
}
#AdminHome{
    /*width: 85%;*/
    margin-left: auto;
    padding: 20px;
}
#Admin p{
    margin: 0;
}
#navigation a{
    color: #fff;
}
.block-outter .col-4, .col-8{
    margin-top: auto;
    margin-bottom: auto;
}

.block-outter .fas{
    font-size: 2rem;
    color:#1B7996;
}

.block-content {
    padding: 20px;
}
.navbar{
    padding: 0;
}
.dropdown-menu a {
    color: #474747;
}
.logo_name {
    font-size: 15px;
    margin: auto !important;
    color: #ffffff;
}


#view a{
    color: #000;
}

#navigation .dropdown-menu{
    background: #474747;
}
#navigation .dropdown-item:hover{
    background: #fff;
    color: #474747;
}
#navigation .nav-link:hover{
    background: #fff;
    color: #474747;
}


.navbar-brand {
    top: 0;
    position: absolute;
    width: 100%;
    margin-right: 0;
}
.logo{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.logonav{
    width: 30px;
    height: 30px;
    margin: 10px 0px 10px 5px;
}
#Admin{
    height: 100%;
    padding: 0;
    background: #f1f1f1;
}
.col-3, .col-9{
    padding: 0;
}
#AdminHome .row{
    margin: 0;
}
#navigation{
height: 90% !important;
margin-top: auto;
}


.navbar-expand-lg {
    height: 100%;
}
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: column;
}
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: block !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}


.pagination ul {
    list-style: none;
    margin: auto;
}

.pagination li {
 display: inline;
}

.s24 {
    width: 24px;
    height: 24px;
}