#document {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 15px;
    margin-bottom: 15px;
    margin: auto;
    width: 850px;
}

.left {
    text-align: left;
}

.logo {
    width: 128px;
    height: 128px;
}
