a{
    cursor: pointer;
}
.logo {
    width: 130px;
    height: 130px;
    margin-right: 10px;
}
.logotext {
    width: 266px;
    height: 30px;
}
.nav-link{
    color: #1B7996;
}
.nav-link:hover {
       color: #4CC6F1;
}
#Footer a:hover {
    color: #4CC6F1;
}
#title{
    font-size: 1.5rem;
    margin-top: 3rem;
    color: #fff;
}
.ImgGooglePlay {
    width: 10rem;
    margin-top: 3rem;
}
p {
    margin-right: 5px;
}
h2 {
    color: #fff;
    font-size: 13px;
}
.featurestext {
    color: #fff;
}
.dropdown-menu {
    left: auto;
    right: 0;
}
.dropdown-menu img{
    width:30px;
    height: 26px;
    margin: 0rem 1rem 0rem 1rem;
}
.dropdown-item{
    padding: .25rem 0rem;
}
.test{
    height: 100vh;
    background-image: radial-gradient(#4CC6F1,#1B7996)!important;
    display: flex;
    padding-bottom: 150px;
    padding-top: 30px;
}
.imagetelephone{
    margin-top: 0rem;
    border-radius: 20px;
    transform: rotate(-20deg);
}
#icones img{
    width: 60px;
    height: auto;
}
#icones .row{
    height: 31%;
    display: flex;
}
#icones .row div{
    padding: 0px;
    margin: auto;
}
#icones .col-10, .col-2{
    margin:auto;
}
#blockicones .row{
    border-radius: 20px;
    box-shadow: 4px 6px 11px -4px #999999;
    margin:10px;
    width: 80%;
}
.navbar{
    position: absolute;
    width: 100%;
    background: #fff;
    padding: 0;
}
#NavigBar{
    margin: 0;
    vertical-align: middle;
    line-height: 16.66vh;
    height: 16.66vh;
}
.ButtonNavig p {
    display: none;
 }
.ButtonNavig:hover{
   width:fit-content;
   background:#1B7996;
}
.ButtonNavig:hover p {
   display: block;
   color: #fff;
 }
.ButtonNavig{
    background:#fff;
    height: 16.66vh;
    width:20px;
    position: initial;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
 }
 .ButtonNavig:active{
    background:#1B7996;
 }
 .buttonactive{
    background:#1B7996; 
 }
 #Container4{
    background: #1B7996;
    margin: 80px 0px 20px 0px;
 }
 .container{
    background: #52A6BA;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
 }
 #Container4 p{
    color: #fff;
 }
 .carousel-item {
    height: 230px;
 }
#Container5{
    background: url(../img/Images/vague2.png) no-repeat;
    background-position: center;
    height: 650px;
    position: absolute;
    background-size: cover;
    margin-top: -1px;
 }
.support{
    height: 700px;
    background-image: radial-gradient(#4CC6F1,#1B7996)!important;
    display: flex;
    padding-bottom: 150px;
}   
.vaguestyle{
    width: 100%;
    margin-top: -50vh;
}
.textmenu{
    color: #fff;
    font-size: 5rem;
}
h1{
    color: #1B7996;
    font-size: 2rem;
}
h2{
    color: #fff;
    font-size: 5rem;
}
.logoreseaux{
    margin: auto; 
    width: 30%; 
    margin-top: 30px;
}
#Footer .container-fluid{
    height: 470px;
    background-image: radial-gradient(#4CC6F1,#1B7996)!important;
    margin-top: 240px;
}
#Footer .menu{
    padding: 130px 100px 0px 0px;
    height: 85%;
}
.copyright{
    width: 25%;
    margin: auto;
    height: 10%;
    padding-top: 13%;
}
#ContainerTeamSupport{
    margin-bottom: 30px;
}
#ContainerTeamSupport img{
    width: 100%;
    padding: 70px;
}
#ContainerTeamSupport h2{
    color: #000;
    font-size: 3rem;
}
#ContainerTeamSupport p,#userguide h2,#iphoneusers h2,#questions h2{
    color: #1B7996;
    font-size: 2rem;
}
#videouserguide .container{
    background: transparent;
    width: 600px;
}
#videouserguide .fluid{
    background: #1B7996;
    padding: 50px;
}
#userguide, #iphoneusers{
    margin-top: 30px;
    margin-bottom: 30px;
}
#userguide .title,#iphoneusers .title{
    font-size: 20px;
}
#userguide .text, #iphoneusers .text{
    width: 50%;
    margin: auto;
}
#userguide .text p, #iphoneusers .text p{
    margin-bottom: 0;
}
#carrouselinstall .carousel-item{
    height: auto;
    padding: 30px 15px 60px 15px;
}
#carrouselinstall img{
    width: 70%;
    padding: 30px 0px 60px 0px;
}
#carrouselinstall .container{
    border-radius: 70px;
    box-shadow:20px 20px 27px -3px #999999;
    background: #fff;
}
#carrouselinstall p{
    margin: 0;
}
#carrouselinstall h3{
    font-weight: 200;
    font-size: 1.5rem;
}
#carrouselinstall a,#textfaq a{
    color:#007bff ;
}
.carousel-indicators li{
    background-color: #1B7996;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
#questions{
    margin-top: 50px;
    margin-bottom: 50px;
}
#questions img{
    width: 60%;
}
#questions .container{
    background: transparent;
}
#titlefaq{
    height: 50vh;
}
#textfaq p,#textfaq h3,#textterms p,#textterms h3{
    color: #fff;
}
#textfaq{
    padding: 50px;
}
#Container4 .etoiles{
    width: 35%;
    margin: 10px 0px 5px 0px;
}
#Container4 .guillemetBas{
    width: 50px;
    height: 50px;
    position: absolute; 
    right: 10px;
    bottom: -20px;
}
#Container4 .guillemetHaut{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 15px;
    top: -25px;
}
#Footer a{
    font-weight: 500;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 1rem;
}
.stats{
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 80%;
    margin: auto;
    display: flex;
}
.blockstats{
    margin-right:5%;
    height: auto;
    background:#fff;
    border-radius:20px;
    width: 33%;
}
.titlereseaux{
    font-size:25px;
    font-weight: 700;
    line-height: 2em;
    margin: 0;
}
.faqs{
    font-size: 30px;
}
.chiffre{
    font-size: 2.5rem;
    color:#1B7996;
    font-weight: bold;
}
#Container2 .title{
    font-size: 2rem;
}
#textfaq li{
    color: #fff;
}
#textfaq h2, #textterms h2{
    font-size: 2.5rem;
}
a:hover{
    text-decoration: none;
}
#carrouselinstall .text-center{
    margin-bottom: 3rem;
}
.nav-link{
    padding: 0;
}
.logoimg{
    width: 40px; 
    height: 40px;
    margin-right: 10px;
}
a{
    color: #fff;
}
.menufooter{
    padding-top: 10%;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}