html, body {
    width: 100%;
    flex: auto;
}

.navbar-logo {
    width: 32px;
    height: 32px;
}

.main-screenshots {
    border-radius: 20px;
    transform: rotate(-20deg);
}

.img-centerer {
    display: block;
    margin: auto;
}

.first-screenshot {
    margin-right: -50px;
}

#download {
    height: 100vh;
    background-image: radial-gradient(#4CC6F1,#1B7996) !important;
    background-position: left bottom;
    background-repeat: no-repeat;
}
.bg-flexo{
    background: #1B7996;
}
.bg-flexo-radial{
    background-image: radial-gradient(#4CC6F1,#1B7996) !important;
}

.navbar {
    color: black;
}

.feature {
    border-radius: 20px;
    box-shadow: 4px 6px 11px -4px #999999;
}

.screenshots {
    min-height: 664px;
}
.comment {
    background: #1B7996;
}
.comment-item{
    background: #7baabd;
    border-radius: 30px;
}
#carouselExampleControls p {
    color: #fff;
    font-size: 1.5em;
}

#footer {
    background-image: radial-gradient(#4CC6F1,#1B7996)!important;
}

#videouserguide{
    background: #1B7996;
}
.color-flexo{
    color: #1B7996;
}
.bg-flexo{
    background: #1B7996;
}
#carrouselinstall .container{
    border-radius: 70px;
    box-shadow:20px 20px 27px -3px #999999;
    background: #fff;
}
.carousel-indicators li{
    background-color: #1B7996;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.carousel-indicators {
    bottom: -50px;
}

section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    background: linear-gradient(to left,#30bcf0,#00aeef);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.metrics .metric-item i {
    font-size: 128px;
    display: block;
    margin-bottom: 15px;
    background: linear-gradient(to left,#30bcf0,#00aeef);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.embed-video-no-border iframe {
    border-bottom-color: transparent!important;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 24rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 24rem;            /* Footer height */
}

.dropdown-languages {
    background: #eee;
}

.apple-store-icon {
    width: 140px;
}